
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$fa-font-path : "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";


@import 'components/navigation';
@import 'components/breadcrumb';
@import 'components/pagination';

body {
    display: block;
    height: calc(100vh - 3rem);;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $gray-800;
    background-color: $white;
    overflow: hidden;
}
