
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'navigation';

$fa-font-path : "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";


body {
    display: block;
    height: calc(100vh - 3rem);;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $gray-800;
    background-color: $white;
    overflow: hidden;
}


.breadcrumb-wraper {
    margin-left: -10px;
    margin-right: -10px;

    .breadcrumb {
        padding: 0.5rem 1rem;
        background-color: $gray-200;
        border-radius: initial;

        .breadcrumb-item{
            font-size: 0.9rem;
            a {
                color: $primary;
            }
        }
    }
}