
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$fa-font-path : "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";


@import 'components/navigation';
@import 'components/breadcrumb';
@import 'components/pagination';
@import 'components/table';
@import 'components/card';

@import 'widgets/stats';

body {
    display: block;
    height: calc(100vh - 3rem);;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $gray-800;
    background-color: $white;
    overflow: hidden;
}

#root-loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .text {
        position: absolute;
        top: 50%;
        left: calc(50% - 1rem);
        font-size: 3rem;
        color: $black;
    }
    
}

.ck-editor__editable_inline {
    min-height: 400px;
}

.status-draft {
    color: $dark;
    background-color: $secondary;
}
.status-published {
    color: $white;
    background-color: $green;
}
.status-inactive {
    color: $white;
    background-color: $red;
}
